# Elixir shizzle
*.beam
deps
_build

# F# / C# stuff
[bB]in/
[oO]bj/
.vs/
packages/
fsharp/.paket/paket.exe
fsharp/.fake/
fsharp/TestResult.xml

# Clojure bumpf
.lein-failures

# Go shizzle
go/src/
go/pkg/

# Scala Stuff
project/
target/

# ES6 Stuff
ecmascript/babel-output/

# TypeScript Stuff
node_modules/

# Kotlin
.gradle
kotlin/**/build

# Elm
elm-stuff/
