# Elixir shizzle
*.beam
deps
_build

# F# / C# stuff
[bB]in/
[oO]bj/
.vs/
packages/

# Go shizzle
go/src/
go/pkg/

# Scala Stuff
project/
target/

# JS Stuff
javascript/node_modules/
javascript/babel-output/
