# Elixir shizzle
*.beam
deps
_build

# F# / C# stuff
[bB]in/
[oO]bj/
.vs/
packages/

# Go shizzle
go/src/
go/pkg/

# Scala Stuff
project/
target/

# ES6 Stuff
ecmascript/node_modules/
ecmascript/babel-output/
